<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6">
      <div class="col-md-12 offset-3">
        <div class="card">
          <div class="card-header">
            <strong>Fast Finger Survey</strong>
          </div>
          <div class="card-body">
            <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
              <div class="form-group row">
                <div class="col-md-6 col-form-label">
                  <p>Is this presentation looking good?</p>
                  <div class="form-check" *ngFor="let options of questions">
                    <input class="form-check-input" type="radio" name="radios" id="radio1" value="option1" checked>
                    <label class="form-check-label" for="radio1">
                      {{options.quesDesc}}
                    </label>
                  </div>


                </div>
              </div>
            </form>
          </div>
          <div class="card-footer">
            <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
