<div class="animated fadeIn">
  <div class="row" *ngIf="!message">
    <div class="col-sm-6">
      <div class="col-md-12 offset-3">
        <div class="card">
          <div class="card-header">
            <strong>Fast Finger Survey</strong>
          </div>
          <div class="card-body">
            <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
              <div class="form-group row">
                <div class="col-md-12 col-form-label">
                  <p>Select Question</p>
                  <div class="form-check" *ngFor="let question of questions">
                    <input class="form-check-input" type="radio" name="radios" id="radio1" value="option1" checked>
                    <label class="form-check-label" for="radio1">
                      {{question.quesDesc}}
                    </label>
                  </div>


                </div>
              </div>
            </form>
          </div>
          <div class="card-footer">
            <button type="submit" (click)="submitSurvey({ quesId: 1 })" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="message">
    <div class="container">
      <div class="card">
        <div class="card-header bg-success">Sucess !!</div>
        <div class="card-body">Survey has been successfully created !!!</div>
        <div>
          <button type="submit" (click)="submitSurvey({ quesId: 1, surveyId: 1 })" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Done</button>
        </div>
      </div>
    </div>
  </div>
</div>
